body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:40px;
  height:812px;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:40px;
  height:812px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:40px;
  height:812px;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:40px;
  height:812px;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:40px;
  height:812px;
}
#u1800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:40px;
  height:812px;
}
#u1801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:812px;
  color:rgba(255, 194, 122, 0.407843137254902);
}
#u1802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:44px;
  width:375px;
  height:44px;
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:35px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:774px;
  width:375px;
  height:34px;
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:792px;
  width:200px;
  height:5px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:44px;
}
#u1807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:730px;
  width:375px;
  height:49px;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:100px;
  width:80px;
  height:80px;
}
#u1809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:415px;
  width:100px;
  height:100px;
}
#u1810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:274px;
  width:100px;
  height:100px;
}
#u1811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:190px;
  width:93px;
  height:26px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-style:normal;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:222px;
  width:105px;
  height:26px;
  font-family:'苹方 常规', '苹方';
  font-style:normal;
}
#u1813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:274px;
  width:100px;
  height:100px;
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:274px;
  width:100px;
  height:100px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:415px;
  width:100px;
  height:100px;
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:415px;
  width:100px;
  height:100px;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:563px;
  width:200px;
  height:200px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:370px;
  width:52px;
  height:17px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:370px;
  width:52px;
  height:17px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:369px;
  width:52px;
  height:17px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:515px;
  width:52px;
  height:17px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC99;
  text-align:center;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:515px;
  width:52px;
  height:17px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:515px;
  width:52px;
  height:17px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  text-align:center;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:693px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  text-align:center;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:391px;
  width:45px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:391px;
  width:45px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:391px;
  width:51px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:534px;
  width:51px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:534px;
  width:51px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:534px;
  width:51px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:52px;
  width:30px;
  height:27px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:52px;
  width:75px;
  height:26px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:51px;
  width:30px;
  height:30px;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:735px;
  width:51px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
