body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:40px;
  height:812px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:40px;
  height:812px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:40px;
  height:812px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:40px;
  height:812px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:40px;
  height:812px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:40px;
  height:812px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:812px;
  color:rgba(255, 194, 122, 0.407843137254902);
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:44px;
  width:375px;
  height:44px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:35px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:774px;
  width:375px;
  height:34px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:792px;
  width:200px;
  height:5px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:44px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:730px;
  width:375px;
  height:49px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:745px;
  width:80px;
  height:31px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:741px;
  width:58px;
  height:36px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:115px;
  height:150px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:151px;
  width:95px;
  height:130px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:115px;
  height:150px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:151px;
  width:95px;
  height:130px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:115px;
  height:150px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:150px;
  width:95px;
  height:130px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:286px;
  width:40px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:290px;
  width:5px;
  height:5px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:290px;
  width:5px;
  height:5px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:290px;
  width:5px;
  height:5px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:286px;
  width:40px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:290px;
  width:5px;
  height:5px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:290px;
  width:5px;
  height:5px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:290px;
  width:5px;
  height:5px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:286px;
  width:40px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:290px;
  width:5px;
  height:5px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:290px;
  width:5px;
  height:5px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:290px;
  width:5px;
  height:5px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:310px;
  width:30px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:310px;
  width:44px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:310px;
  width:87px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:335px;
  height:380px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:350px;
  width:315px;
  height:360px;
  opacity:0.8;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-7px;
  width:286px;
  height:70px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:599px;
  width:266px;
  height:50px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:269px;
  height:135px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:434px;
  width:264px;
  height:130px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:260px;
  word-wrap:break-word;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:379px;
  width:84px;
  height:29px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:379px;
  width:30px;
  height:27px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:738px;
  width:52px;
  height:47px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00CC99;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:115px;
  width:38px;
  height:26px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00CC99;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:115px;
  width:38px;
  height:26px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:5px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:140px;
  width:35px;
  height:5px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-7px;
  width:335px;
  height:66px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:50px;
  width:315px;
  height:46px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:62px;
  width:1px;
  height:24px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:53px;
  width:30px;
  height:40px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:64px;
  width:30px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:28px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:60px;
  width:24px;
  height:28px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:256px;
  width:20px;
  height:30px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:258px;
  width:24px;
  height:26px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:258px;
  width:24px;
  height:26px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u997 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:587px;
  width:315px;
  height:120px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:651px;
  width:1px;
  height:33px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:607px;
  width:101px;
  height:20px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  height:60px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:647px;
  width:80px;
  height:40px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  height:60px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:647px;
  width:80px;
  height:40px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:541px;
  width:87px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:537px;
  width:20px;
  height:27px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:112px;
  width:28px;
  height:30px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
