body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:40px;
  height:812px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:40px;
  height:812px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:40px;
  height:812px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:40px;
  height:812px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:40px;
  height:812px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:812px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:40px;
  height:812px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:812px;
  color:rgba(255, 194, 122, 0.407843137254902);
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:44px;
  width:375px;
  height:44px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:35px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:774px;
  width:375px;
  height:34px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:792px;
  width:200px;
  height:5px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:375px;
  height:44px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:730px;
  width:375px;
  height:49px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00CC99;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:151px;
  width:75px;
  height:50px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00CC99;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:52px;
  width:30px;
  height:27px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:55px;
  width:38px;
  height:26px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:290px;
  height:66px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:240px;
  width:270px;
  height:46px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:249px;
  width:246px;
  height:30px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:290px;
  height:66px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:388px;
  width:270px;
  height:46px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:397px;
  width:246px;
  height:30px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:290px;
  height:66px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:314px;
  width:270px;
  height:46px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:323px;
  width:246px;
  height:30px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:140px;
  height:66px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:470px;
  width:120px;
  height:46px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:444px;
  width:59px;
  height:20px;
  font-family:'苹方 Bold', '苹方 常规', '苹方';
  font-weight:700;
  font-style:normal;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
